@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vogue";
  src: url("../../public/fonts/Vogue.ttf");
}
@font-face {
  font-family: "couture";
  src: url("../../public/fonts/couture-bld.otf");
}
@font-face {
  font-family: "anderson-black";
  src: url("../../public/fonts/AndersonGrotesk-Black.otf");
}
@font-face {
  font-family: "anderson";
  src: url("../../public/fonts/AndersonGrotesk.otf");
}
@font-face {
  font-family: "coutureItalic";
  src: url("../../public/fonts/couture-bldit.otf");
}
.navbar {
  z-index: 100;
}
.questionaire {
  height: 70vh;
  background-color: #4f4f4f;
  background-image: url("../../public/images/ABC-2.png");
  background-blend-mode: overlay;
  background-size: cover;
  border: 2px solid #bd7313;
}
