@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vogue";
  src: url("../../public/fonts/Vogue.ttf");
}
@font-face {
  font-family: "couture";
  src: url("../../public/fonts/couture-bld.otf");
}
@font-face {
  font-family: "anderson-black";
  src: url("../../public/fonts/AndersonGrotesk-Black.otf");
}
@font-face {
  font-family: "anderson";
  src: url("../../public/fonts/AndersonGrotesk.otf");
}
@font-face {
  font-family: "coutureItalic";
  src: url("../../public/fonts/couture-bldit.otf");
}
.navbar {
  z-index: 100;
}
.questionaire {
  height: 70vh;
  background-color: #4f4f4f;
  background-image: url("../../public/images/ABC-2.png");
  background-blend-mode: overlay;
  background-size: cover;
  border: 2px solid #bd7313;
}
.main-heading {
  text-shadow: 0px 0px 20px black;
}
.glowing {
  box-shadow: 0 0 30px #bd7313; /* Adjust the shadow color and size as needed */
  transition: box-shadow 0.3s ease-in-out;
}
