.button-primary {
  border-image-slice: 1;
  background: linear-gradient(180deg, #f4af55, #ff7c00);
  border: 1px;
  width: fit-content;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 2em;
  letter-spacing: 0.125rem;
  border: 0.1em solid #bd7313;
  transition: all 1s linear;
}
.button-primary:hover {
  /* border: 0.1em solid transparent; */
  background: linear-gradient(to left, #f4af55, #ff7c00);
}
