.searchbar {
  position: relative;
  display: flex;
  border: 3px solid #bd7313;
  width: 50%;
  height: 2em;
  color: #878787;
  background-color: transparent;
  font-family: "couture";
  margin-top: 30px;
}
.searchicon {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
}
